
<div class='content'>
  <div class='visible'>
    <ul class="animation-word">
      <li>the world </li>
      <li>a plane </li>
      <li>clothes </li>
    </ul>
  </div>
</div>
<!--  -->
<div class="top-image">
  <%= image_tag('toppagenew.jpg' , class: "img-responsive top-image") %>
</div>

<div class="container-fluid">
<div class="jumbotron">
  <h1 class="theme top">Let's make ____________ with me! <small></small></h1>
</div>

  <div class="box large">

  </div>
  <div class="box large">

  </div>
  <div class="box midium">

  </div>
  <div class="box midium">

  </div>
  <div class="box midium">

  </div>
  <div class="clearfix"></div>
  <h1 class="theme">Share your idea and get future buddies.<small></small></h1>
  <div class="box small">

  </div>
  <div class="box small">

  </div>
  <div class="box small">

  </div>
  <div class="box small">

  </div>

  <div class="clearfix"></div>
  <div class="bubbles">

      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="submit">
        <h1>Share your idea! <small></small></h1>
        <form class="form-inline" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Share your idea here.">
          </div>
          <button type="submit" class="btn btn-default">BUBBLE!</button>
        </form>
      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>
      <div class="box bubble">

      </div>

  </div>

  <div class="clearfix"></div>
</div>
