
<div class='content'>
  <div class='visible'>
    <ul class="animation-word">
      <li>the world </li>
      <li>a plane </li>
      <li>clothes </li>
    </ul>
  </div>
</div>
<div class="jumbotron">
  <%= image_tag('toppagenew.jpg' , class: "img-responsive top-image") %>
  <h1 class="theme top">Let's make ____________ with me!</h1>
</div>
  <div class="clearfix"></div>
