// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

}
.theme{
  text-align: center;
  line-height: 100px;
}
.container-fluid{
  text-align: center;
}
.box{
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  margin: 10px;
  background-color: rgb(145, 189, 237);
  &.large{
    width: 483px;
    height: 300px;
  }
  &.midium{
    width: 322px;
    height: 200px;
  }
  &.small{
    width: 242px;
    height: 150px;
  }
  &.bubble{
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }
}
.bubbles{
  margin: 0 auto;
  width: 1180px;
}
.submit{
  height: 100px;
  width: 370px;
  display: inline-block;
  vertical-align: top;
}

// text animation

.content {
  width:400px;
  font-size:36px;
  line-height:40px;
  font-family:'Muli';
  color:rgb(52, 128, 125);
  height:40px;
  position:absolute;
  top: 140px;
  left:40%;
  margin-top:-15px;
}
.visible {
  float:left;
  font-weight:600;
  overflow:hidden;
  height:40px;
}
.animation-word {
  margin-top:0;
  padding-left:110px;
  list-style:none;
  animation:8s linear 0s normal none infinite change;
  // -webkit-animation:6s linear 0s normal none infinite change;
  // -moz-animation:6s linear 0s normal none infinite change;
  // -o-animation:6s linear 0s normal none infinite change;
  &li {
    line-height:40px;
    margin:0;
  }
}
@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
