// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme: rgb(249, 237, 238);

body{
  min-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: rgba(30, 230, 122, 0.6);
}
.top-image{
  width: 100%;
}
.jumbotron{
  color: $theme;
}
.theme{
  color: $theme;
  text-align: center;
  line-height: 100px;
  &.top{
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -500px;
    text-shadow: 2px 2px 3px #403939;
  }
}
.container-fluid{
  text-align: center;
}
.box{
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  margin: 10px;
  background-color: rgba(145, 189, 237, 0.5);
  &.large{
    width: 483px;
    height: 300px;
  }
  &.midium{
    width: 322px;
    height: 200px;
  }
  &.small{
    width: 242px;
    height: 150px;
    padding: 20px auto;
    h2{
      width: 242px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
  &.bubble{
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }
}
.wrapper{
  margin: 0 auto;
  width: 1180px;
}
.submit{
  width: 350px;
  height: 130px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgb(164, 195, 70);
  border-radius: 25px;
  background-color: rgba(255, 255, 127, 1);
  & h1{
    color: rgba(127, 127, 255, 1);
  }
  & .form-control{
    display: inline;
    width: 8em;
  }
}

// text animation

.content {
  width:500px;
  font-size:72px;
  line-height:83px;
  color:rgba(250, 233, 12, 0.8);
  height:83px;
  vertical-align: middle;
  position:absolute;
  top: 220px;
  left:50%;
  margin-left:-250px;
}
.visible {
  float:left;
  font-weight:600;
  overflow:hidden;
  height:72px;
}
.animation-word {
  margin-top:0;
  padding-left:110px;
  list-style:none;
  text-shadow: 2px 2px 3px #403939;
  animation:8s linear 0s normal none infinite change;
  &li {
    line-height:40px;
    margin:0;
  }
}
@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-83px;}
  40%  {margin-top:-83px;}
  50%  {margin-top:-166px;}
  65%  {margin-top:-166px;}
  75%  {margin-top:-83px;}
  85%  {margin-top:-83px;}
  100% {margin-top:0;}
}
@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-83px;}
  40%  {margin-top:-83px;}
  50%  {margin-top:-166px;}
  65%  {margin-top:-166px;}
  75%  {margin-top:-83px;}
  85%  {margin-top:-83px;}
  100% {margin-top:0;}
}
